@model IEnumerable<GameLibraryWebApp.Models.PublisherModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Publishers Index Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Publishers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Games</a>
                    <a asp-action="AddGame" asp-route-id="@item.Id">Add Game</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
